@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root{
    --cor-primaria: #777C6D;
    --cor-secudaria: #000000;
    --cor-terciaria: #CBCBCB;
    --cor-hover: #B7B89F;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ocupa no mínimo toda a altura da tela */
    margin: 0; 
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secudaria);
}

main {
    flex: 1; /* faz o conteúdo principal crescer e empurrar o rodapé para baixo */
}

.cabecalho{
    padding: 5% 0% 0% 15%;
}

.cabecalho_menu {
    display: flex;
    justify-content:baseline;
    align-items: center;
    padding: 1.25rem 10px 10px 25px;
}

.cabecalho_menu_link {
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin: 0 10px;
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid var(--cor-terciaria);
    border-radius: 12px;
    padding: 10px 15px;
}

.cabecalho_menu_link:hover {
    color: var(--cor-hover);


}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao_conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.apresentacao_conteudo_titulo {
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.titulo_destaque {
    color: var(--cor-secudaria);

}

.apresentacao_conteudo_texto {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.social_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    font-family: var(--font-primaria);
}

.apresentacao_conteudo_social{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.button_icons {    
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secudaria);
    font-family: var(--font-secundaria);
    transition: 0.3s;
}

.button_icons i {
    font-size: 1.5rem;
}

.button_icons:hover {
    background-color: #B7B89F;
    transform: scale(1.05);
}

.apresentacao img {
    width: 50%;
    height: auto;
    border-radius: 16px;
    /* Adiciona bordas arredondadas */
}

.rodape {
    padding: 24px;
    color: var(--cor-secudaria);
    background-color: #B7B89F;
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1205px){
    .cabecalho{
        padding: 10%;
    }
    .cabecalho_menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
    }
    

}