@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root{
    --cor-primaria: #777C6D;
    --cor-secudaria: #000000;
    --cor-terciaria: #CBCBCB;
    --cor-hover: #B7B89F;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ocupa no mínimo toda a altura da tela */
    margin: 0; 
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secudaria);
}

main {
    flex: 1; /* faz o conteúdo principal crescer e empurrar o rodapé para baixo */
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho_menu {
    display: flex;
    justify-content:baseline;
    align-items: center;
    padding: 20px 10px 10px 25px;
}

.cabecalho_menu_link {
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin: 0 10px;
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid var(--cor-terciaria);
    border-radius: 12px;
    padding: 10px 15px;
}

.cabecalho_menu_link:hover {
    color: var(--cor-hover);


}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.apresentacao_conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.apresentacao_conteudo_titulo {
    font-size: 36px;
    font-family: var(--font-primaria);
}

.titulo_destaque {
    color: var(--cor-secudaria);

}

.apresentacao_conteudo_texto {
    font-size: 24px;
    font-family: var(--font-secundaria);
    line-height: 1.5;
}

.social_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    gap: 32px;
    font-family: var(--font-primaria);
}

.button_icons {
    /*background-color: #CBCBCB;*/
    display: flex;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secudaria);
    font-family: var(--font-secundaria);
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.button_icons i {
    font-size: 28px;
}

.button_icons:hover {
    background-color: #B7B89F;
    transform: scale(1.05);
}

.apresentacao img {
    width: 400px;
    height: auto;
    border-radius: 16px;
    /* Adiciona bordas arredondadas */
}

.rodape {
    padding: 24px;
    color: var(--cor-secudaria);
    background-color: #B7B89F;
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 400;
}